<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AvansFysio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Styles.css" />
    <link rel="shortcut icon" type="image/ico" href="~/Images/LogoSmall.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm avans-background box-shadow mb-3">
            <div class="container">
                @if (User.Claims.Any(c => c.Type == "Employee"))
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Patient" asp-action="Index">
                        <img src="/Images/LogoBig.png" alt="AvansFysioLogo" height="42">
                    </a>
                }
                else
                {
                    <a class="navbar-brand" asp-area="" asp-controller="PatientAccount" asp-action="Patient">
                        <img src="/Images/LogoBig.png" alt="AvansFysioLogo" height="42">
                    </a>
                }
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Claims.Any(c => c.Type == "Employee"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="PatientFile" asp-action="Index">Patientendossiers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Patient" asp-action="Index">Patienten</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Presence" asp-action="Presence">Agenda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Appointment" asp-action="Appointment">Afspraken</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="PatientAccount" asp-action="PatientFile">Patientendossier</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="PatientAccount" asp-action="Patient">Gegevens</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="PatientAccount" asp-action="Index">Afspraken</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Logout">Uitloggen</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-10 col-md-8 col-lg-8  card shadow-sm p-5">
                @RenderBody()
            </div>
        </div>
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
