@model IEnumerable<PatientFileViewModel>
@{
    ViewData["Title"] = "Patientendossiers";
}

<div class="my-4">
    <h2 class="avans font-weight-bold float-left">Patientendossiers</h2>
    <a asp-action="PatientFileForm" class="btn avans-background  text-center float-right">Toevoegen</a>
</div>
@foreach (PatientFileViewModel patientFile in Model)
{
    <div class="card m-1">
        <div class="card-body">
            <h5 class="card-title">Patientendossier van: @patientFile.Patient.Name</h5>
            <p class="card-text float-left">
                Intake datum: @patientFile.IntakeDate.ToShortDateString()
                <br />
                DHCP Code: @patientFile.DiagnosticCode
            </p>
            <a class="btn avans-background float-right m-2" asp-action="PatientFile" asp-route-id="@patientFile.Id">Bekijken</a>
        </div>
    </div>
}





