
@model IEnumerable<PatientsViewModel>
@{
    ViewData["Title"] = "HomePage";
}

<a asp-action="FormPatient" class="btn btn-primary">Patient toevoegen</a>
<div>
    <div>
        <table class="table table-striped">
            <thead>
            <th scope="col">Naam</th>
            <th scope="col">Leeftijd</th>
            <th scope="col">Email</th>
            <th scope="col">Telefoonnummer</th>
            </thead>
            <tbody>
                @foreach (PatientsViewModel patient in Model)
                {
                    <tr>
                        <td>@patient.Name</td>
                        <td>@patient.Email</td>
                        <td><img class="img-responsive full-width" src="data:image/jpeg;base64,@Convert.ToBase64String(patient.Img)" /></td>
                    </tr>
                }
            </tbody>

        </table>

    </div>

</div>
