@model AvansFysio.Models.UpdatePatientAccountViewModel

<div>
    <h1 class="avans font-weight-bold"> Gegevens aanpasssen</h1>
    <div>
        <form method="post">
            <div class="form-group">
                <label asp-for="PhoneNumber">Telefoonnummer:</label>
                <input class="form-control" asp-for="PhoneNumber" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-danger btn-block avans-background">Aanpassen</button>
        </form>
    </div>
    <br />
    <div>
        <a class="btn btn-danger avans-background float-right" href="javascript:void(0);" onclick="history.go(-1);">Terug</a>
    </div>
</div>