@model AvansFysio.Models.UpdatePatientViewModel
@{
    ViewData["Title"] = "Patient aanpassen";
}
<div>
    <h1 class="avans text-center font-weight-bold">Patiënt aanpassen</h1>
    <div>
        <form method="post">
            <div class="form-group">
                <label asp-for="Name">Naam:</label>
                <input class="form-control" asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber">Telefoonnummer:</label>
                <input class="form-control" asp-for="PhoneNumber" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthday">geboortedatum:</label>
                <input class="form-control" asp-for="Birthday" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <button type="submit" class="btn btn-block avans-background">Aanpassen</button>
            </div>
        </form>
    </div>
    <br />
    <div>
        <a class="btn avans-background float-right" href="javascript:void(0);" onclick="history.go(-1);">Terug</a>
    </div>
</div>

